@font-face {
    font-family: "寒蝉全圆体";
    src: url("/assets/fonts/chill-round-regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "寒蝉全圆体";
    src: url("/assets/fonts/chill-round-bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
